<template name='search'>
  <div class="ui basic segment searchSegment">
    <div class="ui form">
      <div class="field">
        <label>Adresse ou numéro de bureau</label>
        <div class="ui fluid icon input">
          <input type="text" placeholder="Recherche par adresse ou numéro de bureau" id="searchOfficesInput">
          <i class="link search icon searchOfficesButton"></i>
        </div>
      </div>
      <div class="ui two column grid">
        <div class="column">
          <div class="field">
            <label>Date</label>
            <div class="ui small input">
              <input type="text" name="dateFilter" id="dateFilter" data-value="{{now}}">
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="furnituresLabel">Filtre équipements <i class="right floated filter icon"></i></label>
            <div class="furnituresFilterSelected">
              {{#each wantedFurnitures}}
                {{{this}}}
              {{else}}
                Aucun équipement filtré
              {{/each}}
            </div>
            <div class="furnituresFilter">
              <div class="ui checkbox">
                <input type="checkbox" class="hidden furniture" id="printer">
                <label for="printer"><i class="print icon"></i>Imprimante</label>
              </div>
              <div class="ui checkbox">
                <input type="checkbox" class="hidden furniture" id="whiteboard">
                <label for="whiteboard"><i class="sticky note outline icon"></i>Tableau blanc</label>
              </div>
              <div class="ui checkbox">
                <input type="checkbox" class="hidden furniture" id="multiphone">
                <label for="multiphone"><i class="call icon"></i>Pieuvre</label>
              </div>
              <div class="ui checkbox">
                <input type="checkbox" class="hidden furniture" id="plugs">
                <label for="plugs"><i class="plug icon"></i>Multiprise</label>
              </div>
              <div class="ui checkbox">
                <input type="checkbox" class="hidden furniture" id="beamer">
                <label for="beamer"><i class="record icon"></i>Projecteur</label>
              </div>
              <div class="ui checkbox">
                <input type="checkbox" class="hidden furniture" id="coffee">
                <label for="coffee"><i class="coffee icon"></i>Machine à café</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui celled items">
      {{#each offices}}
        <div class="item">
          <div class="content">
            <a class="header" href="{{pathFor 'office' officeId=_id}}">
              Bureau <div class="ui large horizontal label">{{number}}</div>
              <small>Capacité : {{capacity}} personne{{plural capacity}}</small>
            </a>
            <div class="description">
              <p>{{{nl2br address}}}</p>
              <p>
                {{#if furnitures.printer}}
                  <span data-tooltip="Imprimante" data-position="right center">
                    <i class="print icon"></i>
                  </span>
                {{/if}}
                {{#if furnitures.whiteboard}}
                  <span data-tooltip="Tableau blanc" data-position="right center">
                    <i class="sticky note outline icon"></i>
                  </span>
                {{/if}}
                {{#if furnitures.multiphone}}
                  <span data-tooltip="Pieuvre" data-position="right center">
                    <i class="call icon"></i>
                  </span>
                {{/if}}
                {{#if furnitures.plugs}}
                  <span data-tooltip="Multiprise" data-position="right center">
                    <i class="plug icon"></i>
                  </span>
                {{/if}}
                {{#if furnitures.beamer}}
                  <span data-tooltip="Projecteur" data-position="right center">
                    <i class="record icon"></i>
                  </span>
                {{/if}}
                {{#if furnitures.coffee}}
                  <span data-tooltip="Machine à café" data-position="right center">
                    <i class="coffee icon"></i>
                  </span>
                {{/if}}
              </p>
            </div>
          </div>
        </div>
      {{else}}
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      {{/each}}
    </div>
  </div>
</template>
