<template name='office'>
  <div class="ui basic segment">
    {{#with office}}
    <div class="office">
      {{#if isOfficeOwner _id}}
      <h4 class="ui horizontal divider disabled header">
        Public view of your office
      </h4>
      {{/if}}
      <h4 class="ui header">
        OFFICE<label class="ui large horizontal label">{{number}}</label>
        <div class="sub header">Capacity: {{capacity}} people.</div>
      </h4>
      <div class="ui sub header">Address</div>
      <p>{{{nl2br address}}}</p>
      {{#unless isAllFalse furnitures}}
        <div class="ui sub header">Equipements</div>
        <div class="ui two column grid">
          <div class="column">
            <div class="ui list">
              {{#if furnitures.printer}}
                <div class="item">
                  <i class="print icon"></i>
                  <div class="content">
                    Printer
                  </div>
                </div>
              {{/if}}
              {{#if furnitures.whiteboard}}
                <div class="item">
                  <i class="sticky note outline icon"></i>
                  <div class="content">
                    Whiteboard
                  </div>
                </div>
              {{/if}}
              {{#if furnitures.multiphone}}
                <div class="item">
                  <i class="call icon"></i>
                  <div class="content">
                    Conf. phone
                  </div>
                </div>
              {{/if}}
              {{#if furnitures.wifi}}
                <div class="item">
                  <i class="wifi icon"></i>
                  <div class="content">
                    Wifi
                  </div>
                </div>
              {{/if}}
            </div>
          </div>
          <div class="column">
            <div class="ui list">
              {{#if furnitures.copier}}
                <div class="item">
                  <i class="copy icon"></i>
                  <div class="content">
                    Copier
                  </div>
                </div>
              {{/if}}
              {{#if furnitures.plugs}}
                <div class="item">
                  <i class="plug icon"></i>
                  <div class="content">
                    Power strip
                  </div>
                </div>
              {{/if}}
              {{#if furnitures.beamer}}
                <div class="item">
                  <i class="record icon"></i>
                  <div class="content">
                    Beamer
                  </div>
                </div>
              {{/if}}
              {{#if furnitures.coffee}}
                <div class="item">
                  <i class="coffee icon"></i>
                  <div class="content">
                    Coffee
                  </div>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      {{/unless}}
      {{#if comment}}
      <div class="ui sub header">Comments</div>
      <p>{{{nl2br comment}}}</p>
      {{/if}}
    </div>
    <h4 class="ui horizontal divider header">
      <i class="green add to calendar icon"></i>
      Book this office
    </h4>
    <div class="ui form">
      <div class="field">
        <div class="ui three column grid">
          <div class="eight wide column">
            <div class="field">
              <label for="reservationDay">Reservation date</label>
              <input type="text" placeholder="Date réservation" id="reservationDay" name="reservationDay" data-value="{{availability.date}}">
            </div>
          </div>
          <div class="four wide column">
            <div class="field">
              <label for="startTime">Start time</label>
              <input type="text" placeholder="Start time" id="startTime" name="startTime" data-value="{{availability.startTime}}">
            </div>
          </div>
          <div class="four wide column">
            <div class="field">
              <label for="endTime">End time</label>
              <input type="text" placeholder="End time" id="endTime" name="endTime" data-value="{{availability.endTime}}">
            </div>
          </div>
        </div>
      </div>
      <div class="ui fluid green icon labeled button bookOffice"><i class="check icon"></i>Book office {{number}}</div>
    </div>
    {{/with}}
    {{#if reservations}}
    <h4 class="ui header">My reservations</h4>
    <table class="ui fluid compact striped unstackable table">
      <thead>
        <tr class="center aligned">
          <th>Date</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
        {{#each reservations}}
        <tr class="center aligned detailReservation">
          <td>
            {{toDate day}}
          </td>
          <td>
            {{startTime}} - {{endTime}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/if}}
  </div>
</template>
