.myOffices, .myOffice  {
  position: relative;
}
.addOffice {
  position: absolute;
  top: 1rem;
  right: 0;
}
.editMyOfficeIcon {
  position: absolute;
  top: 0;
  right: 0;
}
.calendarBtn {
  margin-top: 1rem !important;
}
.bnpp-olive {
  background-color: #93bd0e;
  color: #fff;
}
