<template name='myOffice'>
  {{#if myOffices}}
  <div class="ui basic segment myOffices">
    {{> miniProfile}}
    <div class="ui inverted divider"></div>
    {{#each myOffices}}
      <div class="myOffice">
        {{#if isOfficeOwner _id}}
          <a href="{{pathFor 'editMyOffice' officeId=_id}}" class="editMyOfficeIcon">
            <i class="large blue write icon"></i>
          </a>
        {{/if}}
        <a class="ui medium header"  href="{{pathFor 'office' officeId=_id}}">
          <div class="content">
            Office<label class="ui big horizontal label">{{number}}</label>
          </div>
          <div class="sub header">
            Capacity: {{capacity}} people
          </div>
        </a>

        <div class="ui sub header">Address</div>
        <p>{{{nl2br address}}}</p>
        {{#unless isAllFalse furnitures}}
          <div class="ui sub header">Equipments</div>
          <div class="ui two column grid">
            <div class="column">
              <div class="ui list">
                {{#if furnitures.printer}}
                  <div class="item">
                    <i class="print icon"></i>
                    <div class="content">
                      Printer
                    </div>
                  </div>
                {{/if}}
                {{#if furnitures.whiteboard}}
                  <div class="item">
                    <i class="sticky note outline icon"></i>
                    <div class="content">
                      Whiteboard
                    </div>
                  </div>
                {{/if}}
                {{#if furnitures.multiphone}}
                  <div class="item">
                    <i class="call icon"></i>
                    <div class="content">
                      Conf. phone
                    </div>
                  </div>
                {{/if}}
                {{#if furnitures.wifi}}
                  <div class="item">
                    <i class="wifi icon"></i>
                    <div class="content">
                      Wifi
                    </div>
                  </div>
                {{/if}}
              </div>
            </div>
            <div class="column">
              <div class="ui list">
                {{#if furnitures.copier}}
                  <div class="item">
                    <i class="copy icon"></i>
                    <div class="content">
                      Copier
                    </div>
                  </div>
                {{/if}}
                {{#if furnitures.plugs}}
                  <div class="item">
                    <i class="plug icon"></i>
                    <div class="content">
                      Power strip
                    </div>
                  </div>
                {{/if}}
                {{#if furnitures.beamer}}
                  <div class="item">
                    <i class="record icon"></i>
                    <div class="content">
                      Beamer
                    </div>
                  </div>
                {{/if}}
                {{#if furnitures.coffee}}
                  <div class="item">
                    <i class="coffee icon"></i>
                    <div class="content">
                      Coffee
                    </div>
                  </div>
                {{/if}}
              </div>
            </div>
          </div>
        {{/unless}}
        {{#if comment}}
        <div class="ui sub header">Comments</div>
        <p>{{{nl2br comment}}}</p>
        {{/if}}

        <a class="ui fluid green icon labeled button myOfficeBtn" data-href="{{pathFor 'myOfficeAvailabilities' officeId=_id}}">
          <i class="add to calendar icon"></i>
          MANAGE AVAILABILITIES
        </a>
        <a class="ui fluid olive icon labeled button myOfficeBtn" data-href="{{pathFor 'agenda' officeId=_id}}">
          <i class="calendar icon"></i>
          RESERVATIONS CALENDAR
        </a>
        {{#if isOfficeOwner _id}}
          <a class="ui fluid purple icon labeled button myOfficeBtn" data-href="{{pathFor 'myOfficeUsers' officeId=_id}}">
            <i class="users icon"></i>
            OWNERS & USERS RIGHTS
          </a>
        {{/if}}
      </div>
      {{#unless onlyOneOffice}}
      <div class="ui divider"></div>
      {{/unless}}
    {{else}}
      <div class="ui center aligned basic segment">
        <a href="{{pathFor 'createMyOffice'}}" class="ui fluid purple button"><i class="send icon"></i>SHARE MY OFFICE</a>
      </div>
    {{/each}}
  </div>
  {{/if}}
</template>
