<template name='myOffice'>
  {{#if myOffices}}
  <div class="ui basic segment">
    {{#if onlyOneOffice}}
    <h3 class="ui header">Mon bureau</h3>
    {{else}}
    <h3 class="ui header">Mes bureaux</h3>
    {{/if}}
    {{#each myOffices}}
      <div class="myOffice">
        <a href="{{pathFor 'editMyOffice' officeId=_id}}" class="editMyOfficeIcon">
          <i class="large write icon"></i>
        </a>
        <h4 class="ui sub header">Numéro de bureau</h4>
        <p>{{number}}</p>
        <h4 class="ui sub header">Adresse</h4>
        <p>{{{nl2br address}}}</p>
        <h4 class="ui sub header">Capacité de {{capacity}} personne{{plural capacity}}</h4>
        {{#unless isAllFalse furnitures}}
          <h4 class="ui sub header">Equipements</h4>
          <div class="ui two column grid">
            <div class="column">
              <div class="ui list">
                {{#if furnitures.printer}}
                  <div class="item">
                    <i class="print icon"></i>
                    <div class="content">
                      Imprimante
                    </div>
                  </div>
                {{/if}}
                {{#if furnitures.whiteboard}}
                  <div class="item">
                    <i class="sticky note outline icon"></i>
                    <div class="content">
                      Tableau blanc
                    </div>
                  </div>
                {{/if}}
                {{#if furnitures.multiphone}}
                  <div class="item">
                    <i class="call icon"></i>
                    <div class="content">
                      Pieuvre
                    </div>
                  </div>
                {{/if}}
              </div>
            </div>
            <div class="column">
              <div class="ui list">
                {{#if furnitures.plugs}}
                  <div class="item">
                    <i class="plug icon"></i>
                    <div class="content">
                      Multiprise
                    </div>
                  </div>
                {{/if}}
                {{#if furnitures.beamer}}
                  <div class="item">
                    <i class="record icon"></i>
                    <div class="content">
                      Projecteur
                    </div>
                  </div>
                {{/if}}
                {{#if furnitures.coffee}}
                  <div class="item">
                    <i class="coffee icon"></i>
                    <div class="content">
                      Machine à café
                    </div>
                  </div>
                {{/if}}
              </div>
            </div>
          </div>
        {{/unless}}
        {{#if comment}}
        <h4 class="ui sub header">Commentaire</h4>
        <p>{{{nl2br comment}}}</p>
        {{/if}}
      </div>
      <a class="ui fluid green icon labeled button calendarBtn" href="{{pathFor 'myOfficeCalendar' officeId=_id}}">
        <i class="calendar icon"></i>
        Horraires & Disponibilités
      </a>
      {{#unless onlyOneOffice}}
      <div class="ui divider"></div>
      {{/unless}}
    {{else}}
      <div class="ui center aligned basic segment">
        <a href="{{pathFor 'createMyOffice'}}" class="ui positive fluid icon labeled button"><i class="add icon"></i>SHARE MY OFFICE</a>
      </div>
    {{/each}}
  </div>
  {{/if}}
</template>
