<template name='myOffice'>
  {{#if myOffices}}
  <div class="ui basic segment myOffices">
    {{#each myOffices}}
      <div class="myOffice">
        {{#if isOfficeOwner _id}}
          <a href="{{pathFor 'editMyOffice' officeId=_id}}" class="editMyOfficeIcon">
            <i class="large blue write icon"></i>
          </a>
        {{/if}}
        <a class="ui header" href="{{pathFor 'office' officeId=_id}}">BUREAU<label class="ui horizontal big label">{{number}}</label></a>
        <div class="ui sub header">Adresse</div>
        <p>{{{nl2br address}}}</p>
        <div class="ui sub header">Capacité de {{capacity}} personne{{plural capacity}}</div>
        {{#unless isAllFalse furnitures}}
          <div class="ui sub header">Equipements</div>
          <div class="ui two column grid">
            <div class="column">
              <div class="ui list">
                {{#if furnitures.printer}}
                  <div class="item">
                    <i class="print icon"></i>
                    <div class="content">
                      Imprimante
                    </div>
                  </div>
                {{/if}}
                {{#if furnitures.whiteboard}}
                  <div class="item">
                    <i class="sticky note outline icon"></i>
                    <div class="content">
                      Tableau blanc
                    </div>
                  </div>
                {{/if}}
                {{#if furnitures.multiphone}}
                  <div class="item">
                    <i class="call icon"></i>
                    <div class="content">
                      Pieuvre
                    </div>
                  </div>
                {{/if}}
              </div>
            </div>
            <div class="column">
              <div class="ui list">
                {{#if furnitures.plugs}}
                  <div class="item">
                    <i class="plug icon"></i>
                    <div class="content">
                      Multiprise
                    </div>
                  </div>
                {{/if}}
                {{#if furnitures.beamer}}
                  <div class="item">
                    <i class="record icon"></i>
                    <div class="content">
                      Projecteur
                    </div>
                  </div>
                {{/if}}
                {{#if furnitures.coffee}}
                  <div class="item">
                    <i class="coffee icon"></i>
                    <div class="content">
                      Machine à café
                    </div>
                  </div>
                {{/if}}
              </div>
            </div>
          </div>
        {{/unless}}
        {{#if comment}}
        <div class="ui sub header">Commentaire</div>
        <p>{{{nl2br comment}}}</p>
        {{/if}}
      </div>
      <a class="ui fluid green compact icon labeled button calendarBtn" href="{{pathFor 'agenda' officeId=_id}}">
        <i class="calendar icon"></i>
        Calendrier des réservations
      </a>
      <a class="ui fluid bnpp-olive compact icon labeled button calendarBtn" href="{{pathFor 'myOfficeCalendar' officeId=_id}}">
        <i class="clock icon"></i>
        Disponibilités
      </a>
      {{#if isOfficeOwner _id}}
        <a class="ui fluid compact icon labeled button calendarBtn" href="{{pathFor 'myOfficeUsers' officeId=_id}}">
          <i class="users icon"></i>
          Partage des droits
        </a>
      {{/if}}
      {{#unless onlyOneOffice}}
      <div class="ui divider"></div>
      {{/unless}}
    {{else}}
      <div class="ui center aligned basic segment">
        <a href="{{pathFor 'createMyOffice'}}" class="ui green basic icon labeled button"><i class="save icon"></i>ENREGISTREZ VOTRE BUREAU</a>
      </div>
    {{/each}}
  </div>
  {{/if}}
</template>
