<template name='createMyOffice'>
  <div class="ui basic segment">

    <div class="ui styled fluid accordion">
      <div class="title active">
        <i class="dropdown icon"></i>
        Etape 1/2
      </div>
      <div class="content active">
        <p class="ui header">Corrigez si besoin l'adresse et le numéro de votre bureau</p>
        <div class="ui form">
          <div class="field">
            <label>* Adresse du bureau</label>
            <textarea rows="2" id="address" required >59 rue de la République
93048 Montreuil sous Bois</textarea>
          </div>
          <div class="field">
            <label>* Numéro de bureau</label>
            <input type="text" value="0D059" id="number" required>
          </div>
        </div>
      </div>
      <div class="title">
        <i class="dropdown icon"></i>
        Etape 2/2
      </div>
      <div class="content">
        <p class="ui header">Caractéristiques de votre bureau</p>
        <div class="ui form">
          <div class="field">
            <label>* Capacité (nombre de places)</label>
            <input type="number" value="4" id="capacity" required>
          </div>
          <div class="field">
            <label>Equipements</label>
            <div class="ui two column grid">
              <div class="column">
                <div class="ui checkbox">
                  <input type="checkbox" class="hidden furniture" id="printer">
                  <label for="printer"><i class="print icon"></i>Imprimante</label>
                </div>
                <div class="ui checkbox">
                  <input type="checkbox" class="hidden furniture" id="whiteboard">
                  <label for="whiteboard"><i class="sticky note outline icon"></i>Tableau blanc</label>
                </div>
                <div class="ui checkbox">
                  <input type="checkbox" class="hidden furniture" id="multiphone">
                  <label for="multiphone"><i class="call icon"></i>Pieuvre</label>
                </div>
              </div>
              <div class="column">
                <div class="ui checkbox">
                  <input type="checkbox" class="hidden furniture" id="plugs">
                  <label for="plugs"><i class="plug icon"></i>Multiprise</label>
                </div>
                <div class="ui checkbox">
                  <input type="checkbox" class="hidden furniture" id="beamer">
                  <label for="beamer"><i class="record icon"></i>Projecteur</label>
                </div>
                <div class="ui checkbox">
                  <input type="checkbox" class="hidden furniture" id="coffee">
                  <label for="coffee"><i class="coffee icon"></i>Machine à café</label>
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <label>Commentaires</label>
            <textarea rows="4" id="comment"></textarea>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="ui fluid green basic labeled icon button goStepTwo"><i class="chevron right icon"></i>PASSEZ À L'ÉTAPE 2</div>
    <button type="submit" class="ui fluid green labeled icon button shareOffice"><i class="save icon"></i>ENREGISTREZ VOTRE BUREAU</button>
  </div>
</template>
