<template name='mainSidebar'>
  <div class="ui left demo vertical green inverted sidebar labeled icon menu mainSidebar">
    <a class="item" href="{{pathFor 'home'}}">
      <i class="home icon"></i>
      Home
    </a>
    <!-- <a class="item" href="{{pathFor 'search'}}">
      <i class="search icon"></i>
      Recherche<br>Bureau
    </a> -->
    <a class="item" href="{{pathFor 'agenda'}}">
      <i class="calendar icon"></i>
      Calendar
    </a>
    {{#if onlyOneOffice}}
      <a class="item" href="{{pathFor 'myOffice'}}">
        <i class="building icon"></i>
        My office
      </a>
    {{else}}
      <a class="item" href="{{pathFor 'myOffice'}}">
        <i class="building icon"></i>
        My offices
      </a>
    {{/if}}
    <!-- <a class="item" href="{{pathFor 'profile'}}">
      <i class="user icon"></i>
      Profile
    </a> -->
    <!-- <a class="item" href="{{pathFor 'help'}}">
      <i class="help icon"></i>
      À propos
    </a> -->
    {{#if currentUser}}
    <a class="item signOutBtn">
      <i class="sign out icon"></i>
      Logout
    </a>
    {{/if}}
  </div>
</template>
