<template name='home'>
  <div class="ui basic segment homeSegment">
    <img class="ui small centered image" src="/sharemyoffice4-nobg.png">
    {{#unless currentUser}}
      <br>
      {{> atForm state='signIn'}}
      {{> requiredHelp}}
    {{else}}
    <div class="ui center aligned basic segment">
      <h2 class="ui header">Bonjour, {{capitalize userName}}.</h2>
      {{#if hasOffice}}
      <a href="{{pathFor 'search'}}" class="ui fluid green basic icon labeled button"><i class="search icon"></i>RECHERCHER UN BUREAU</a>
      <br>
      <a href="{{pathFor 'myOffice'}}" class="ui fluid green basic icon labeled button">
        {{#if onlyOneOffice}}
        <i class="cube icon"></i>GÉRER MON BUREAU
        {{else}}
        <i class="cubes icon"></i>GÉRER MES BUREAUX
        {{/if}}
      </a>
      {{else}}
      <a href="{{pathFor 'createMyOffice'}}" class="ui fluid green basic icon labeled button"><i class="save icon"></i>ENREGISTREZ VOTRE BUREAU</a>
      <br>
      <a href="{{pathFor 'search'}}" class="ui fluid green basic icon labeled button"><i class="search icon"></i>RECHERCHER UN BUREAU</a>
      {{/if}}
    </div>
    {{/unless}}
  </div>
</template>
