<template name='home'>
  <div class="ui basic segment homeSegment">
    <img class="ui small centered image" src="/sharemyoffice4-nobg.png">
    <div class="ui center aligned basic segment">
      <h2 class="ui header">Welcome, {{capitalize currentUser.profile.firstname}}</h2>
      {{#if hasOffice}}
        <a href="{{pathFor 'search'}}" class="ui fluid violet button"><i class="search icon"></i>BOOK AN OFFICE</a>
        <br>
        <a class="ui fluid purple button shareMyOffice">
          {{#if onlyOneOffice}}
          <i class="send icon"></i>SHARE MY OFFICE
          {{else}}
          <i class="send icon"></i>SHARE MY OFFICES
          {{/if}}
        </a>
      {{else}}
        <a href="{{pathFor 'createMyOffice'}}" class="ui fluid purple button"><i class="send icon"></i>SHARE MY OFFICE</a>
        <br>
        <a href="{{pathFor 'search'}}" class="ui fluid violet button"><i class="search icon"></i>BOOK AN OFFICE</a>
      {{/if}}
    </div>
  </div>
</template>
