<template name='home'>
  <div class="ui center aligned basic segment homeSegment">
    <h1 class="ui center aligned icon header myOffice">
      <!-- <i class="green link cube icon"></i> -->
      <img class="ui small image" src="/favicon.png" alt="Share My Office by BNP Paribas" />
      <div class="content">
        Share My Office
        <div class="sub header">THE BEST WAY TO FIND A DESK</div>
      </div>
    </h1>
    <img class="ui centered medium image" src="/bnp-doors.jpg">
    {{#unless currentUser}}
    <br>
    <div class="ui buttons">
      <a href="/sign-in" class="ui green button">Sign in</a>
      <div class="or"></div>
      <a href="/sign-up" class="ui button">Sign up</a>
    </div>
    {{else}}
    <h2 class="ui header">Hello, {{capitalize userName}}.</h2>
    {{#if hasOffice}}
    <a href="{{pathFor 'search'}}" class="ui green basic icon labeled button"><i class="search icon"></i>SEARCH AN OFFICE</a>
    {{else}}
    <a href="{{pathFor 'createMyOffice'}}" class="ui green basic icon labeled button"><i class="refresh icon"></i>SHARE YOUR OFFICE</a>
    {{/if}}
    {{/unless}}
  </div>
</template>
