<template name='myOfficeUsers'>
  <div class="ui basic segment">
    {{#if isOfficeOwner}}
      <h3 class="ui header">Office <label class="ui large horizontal label">{{office.number}}</label> access rights</h3>
      <h4 class="ui horizontal divider header">
        <i class="green user icon"></i>
        Owners
      </h4>
      <p class="ui center aligned tiny header">
        Can edit office info, access rights, availabilities and reservations.
      </p>
      <div class="ui list">
      {{#each owners}}
      <div class="item" id="{{userId}}">
        {{email}}
        {{#unless equals userId currentUser._id}}
          &nbsp;&nbsp;<i class="red remove link icon removeOwner"></i>
        {{/unless}}
      </div>
      {{/each}}
      </div>
      <div class="ui sub header">Add an owner</div>
      <div class="ui fluid icon input">
        <input type="email" id="ownerMail" placeholder="New owner email address">
        <i class="green add user link icon addOwner"></i>
      </div>
      <br>
      <h4 class="ui horizontal divider header">
        <i class="purple users icon"></i>
        Advanced users
      </h4>
      <p class="ui center aligned tiny header">
        Can edit office availabilities and reservations only.
      </p>
      <div class="ui list">
      {{#each users}}
      <div class="item" id="{{userId}}">{{email}}&nbsp;&nbsp;<i class="red remove link icon removeUser"></i></div>
      {{else}}
      <div class="item disabled">
        No advanced user.
      </div>
      {{/each}}
      </div>
      <div class="ui sub header">Add an advanced user</div>
      <div class="ui fluid icon input">
        <input type="email" id="userMail" placeholder="New advanced user email address">
        <i class="purple add user link icon addUser"></i>
      </div>

      <div class="ui basic modal whoModal">
        <i class="close icon"></i>
        <div class="ui icon header">
          <i class="user icon"></i>
          Who ?
        </div>
        <div class="ui content">
          <div class="ui center aligned inverted header">This email address isn't kwown. Please verify it and try again or ask the user.</div>
        </div>
        <div class="actions">
          <div class="one fluid ui inverted buttons">
            <div class="ui ok green inverted icon labeled button">
              <i class="checkmark icon"></i>
              OK
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</template>
