<template name='myOfficeUsers'>
  <div class="ui basic segment">
    {{#if isOfficeOwner}}
      <h3 class="ui header">Office <label class="ui large horizontal label">{{office.number}}</label> access rights</h3>
      <h4 class="ui horizontal divider header">
        <i class="green user icon"></i>
        Owners
      </h4>
      <p class="ui center aligned tiny header">
        Can edit office info, availabilities and reservations.
      </p>
      <div class="ui celled list">
      {{#each owners}}
      <div class="item" id="{{userId}}">
        {{#unless equals userId currentUser._id}}
        <div class="right floated content">
          <button class="ui red compact basic icon button removeOwner"><i class="remove link icon"></i></button>
        </div>
        {{/unless}}
        <div class="content">
          <div class="header">{{fullname}}</div>
          <div class="description">{{uid}}</div>
        </div>
      </div>
      {{/each}}
      </div>
      <div class="ui sub header">Add an owner</div>
      <div class="ui fluid icon input">
        <input type="email" id="ownerMail" placeholder="New owner email address">
        <i class="green add user link icon addOwner"></i>
      </div>
      <br>
      <h4 class="ui horizontal divider header">
        <i class="purple users icon"></i>
        Users
      </h4>
      <p class="ui center aligned tiny header">
        If you declare users, they will be the only one who can book your office.
      </p>
      <div class="ui celled list">
      {{#each users}}
      <div class="item" id="{{userId}}">
        <div class="right floated middle aligned content">
          <button class="ui red compact basic icon button removeUser"><i class="remove link icon"></i></button>
        </div>
        <div class="content">
          <div class="header">{{fullname}}</div>
          <div class="description">{{uid}}</div>
        </div>
      </div>
      {{else}}
      <div class="item green">
        <div class="content">
          <div class="header">Your office is public</div>
          <div class="description">It can be booked by any authentified user</div>
        </div>
      </div>
      {{/each}}
      </div>
      <div class="ui sub header">Add a user</div>
      <div class="ui fluid icon input">
        <input type="email" id="userMail" placeholder="New user email address">
        <i class="purple add user link icon addUser"></i>
      </div>

      <div class="ui basic modal whoModal">
        <i class="close icon"></i>
        <div class="ui icon header">
          <i class="user icon"></i>
          Who ?
        </div>
        <div class="ui content">
          <div class="ui center aligned inverted header">This email address isn't kwown. Please verify it and try again or ask the user.</div>
        </div>
        <div class="actions">
          <div class="one fluid ui inverted buttons">
            <div class="ui ok green inverted icon labeled button">
              <i class="checkmark icon"></i>
              OK
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</template>
