<template name='flatImport'>
  <div class="ui basic segment">
    <div class="ui info message">
      <i class="close icon"></i>
      <div class="header">
        Imported Offices file info
      </div>
      Please import a CSV file formated as the following template. If no users seted the office will be considered public. If you declare users, they will be the only one who can book the office.
      <br>
      <a href="/smo-offices.csv" download="smo-offices.csv" target="_blank">Imported offices CSV Template</a>
    </div>

    <div class="ui form">
      <div class="field">
        <label for="csvImportedOfficesText">Upload offices CSV file</label>
        <div class="ui action input">
          <input type="text" id="csvImportedOfficesText" placeholder="Please use template format" readonly="readonly">
          <label for="csvImportedOffices" class="ui icon button btn-file">
            <i class="cloud upload icon" id="csvImportedOfficesIcon"></i>
            <input type="file" id="csvImportedOffices" name="csvImportedOffices" style="display: none">
          </label>
        </div>
      </div>
    </div>
  </div>
</template>
