<template name='header'>
  <div class="ui top fixed inverted borderless green icon menu topHeader">
    <div class="left menu">
      {{#if isHome}}
      <a class="item showMainSidebar">
        <i class="big content icon"></i>
      </a>
      {{else}}
      <a class="ui middle aligned item">
        <i class="big left chevron icon goBack"></i>
        <i class="big content icon showMainSidebar"></i>
      </a>
      {{/if}}
    </div>
    {{#if isHome}}
      <div class="center header item">
        <img class="ui mini centered image" src="/sharemyoffice4-nobg-white.png">
      </div>
    {{else}}
      <a class="center header item" href="{{pathFor 'home'}}" data-title="Go home">
        <img class="ui mini centered image" src="/sharemyoffice4-nobg-white.png">
      </a>
    {{/if}}
    <div class="right menu">
      {{#unless currentUser}}
        <a class="item" href="/sign-in">
          <i class="big user icon"></i>
        </a>
      {{else}}
        <a class="item" href="{{pathFor 'profile'}}">
          <img class="ui avatar image" src="{{profileImageUrl}}" alt="{{userName}}">
        </a>
      {{/unless}}
    </div>
  </div>
</template>
