<template name='header'>
  <div class="ui top fixed inverted borderless green icon menu topHeader">
    <div class="left menu">
      {{#if isLevelOnePage}}
      <a class="item showMainSidebar">
        <i class="big content icon"></i>
      </a>
      {{else}}
      <a class="ui middle aligned item">
        <i class="big left chevron icon goBack"></i>
      </a>
      {{/if}}
    </div>
    <div class="center middle aligned header item">
      <a class="ui inverted header headerTitle">{{toUpperCase routeName}}</a>
    </div>
    <div class="right menu">
      {{#if isMyOffice}}
      <a class="middle aligned item" href="{{pathFor 'createMyOffice'}}">
        <i class="big plus icon"></i>
      </a>
      {{else}}
        {{#if isEditMyOffice}}
        <a class="middle aligned item deleteOffice">
          <i class="big trash icon"></i>
        </a>
        {{else}}
          <span class="item"><i class="big green cube icon"></i></span>
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>
