<template name='notFound'>
  <div class="ui basic center aligned segment">
    <img class="ui small centered image" src="/sharemyoffice4-nobg.png">
    <h2 class="ui header">
      <div class="content">
        Office lost...
      </div>
      <div class="sub header">
        Something went wrong, please go home.
      </div>
    </h2>
  </div>
  <div class="ui basic center aligned segment">
    <a class="ui huge green icon labeled button" href="{{pathFor 'home'}}"><i class="home icon"></i>HOME</a>
  </div>
</template>
