<template name='editMyOffice'>
  {{#if isOfficeOwner}}
  {{#with office}}
    <div class="ui basic segment editMyOffice">
      <div class="ui form">
        <div class="required field">
          <label>Adresse du bureau</label>
          <textarea rows="2" id="address" required>{{address}}</textarea>
        </div>
        <div class="eight wide required field">
          <label>Numéro de bureau</label>
          <input type="text" value="{{number}}" id="number" required>
        </div>
        <div class="four wide required field">
          <label>Capacité</label>
          <input type="number" value="{{capacity}}" id="capacity" required>
        </div>
        <div class="field">
          <label>Equipements</label>
          <div class="ui two column grid">
            <div class="column">
              <div class="ui checkbox">
                <input type="checkbox" class="hidden furniture" id="printer" {{hasFurniture furnitures.printer}}>
                <label for="printer"><i class="print icon"></i>Imprimante</label>
              </div>
              <div class="ui checkbox">
                <input type="checkbox" class="hidden furniture" id="whiteboard" {{hasFurniture furnitures.whiteboard}}>
                <label for="whiteboard"><i class="sticky note outline icon"></i>Tableau blanc</label>
              </div>
              <div class="ui checkbox">
                <input type="checkbox" class="hidden furniture" id="multiphone" {{hasFurniture furnitures.multiphone}}>
                <label for="multiphone"><i class="call icon"></i>Pieuvre</label>
              </div>
            </div>
            <div class="column">
              <div class="ui checkbox">
                <input type="checkbox" class="hidden furniture" id="plugs" {{hasFurniture furnitures.plugs}}>
                <label for="plugs"><i class="plug icon"></i>Multiprise</label>
              </div>
              <div class="ui checkbox">
                <input type="checkbox" class="hidden furniture" id="beamer" {{hasFurniture furnitures.beamer}}>
                <label for="beamer"><i class="record icon"></i>Projecteur</label>
              </div>
              <div class="ui checkbox">
                <input type="checkbox" class="hidden furniture" id="coffee" {{hasFurniture furnitures.coffee}}>
                <label for="coffee"><i class="coffee icon"></i>Machine à café</label>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Commentaires</label>
          <textarea rows="4" id="comment">{{comment}}</textarea>
          {{> requiredHelp}}
        </div>

        <button type="submit" class="ui fluid green labeled icon button saveOffice"><i class="check icon"></i>ENREGISTREZ VOTRE BUREAU</button>
      </div>
    </div>

    <div class="ui small basic modal deleteOfficeModal">
      <div class="ui icon header">
        <i class="trash icon"></i>
        Effacer le bureau {{number}} ?
      </div>
      <div class="content">
        <p>Toutes les données liées a ce bureau seront effacées.</p>
      </div>
      <div class="actions">
        <div class="ui red basic cancel inverted button">
          <i class="remove icon"></i>
          Annuler
        </div>
        <div class="ui red ok inverted button">
          <i class="checkmark icon"></i>
          Effacer
        </div>
      </div>
    </div>
  {{/with}}
  {{/if}}
</template>
