<template name='uid'>
  {{> tinyLogo}}
  <div class="ui middle aligned centered grid">
    <div class="column">
      <h2 class="ui center aligned header">
        Sign In
      </h2>
      <form action="#" method="POST" novalidate="" class="ui large form">
        <div class="ui segment left aligned">
          <div class="required field uidField">
            <label>
              UID
            </label>
            <div class="ui fluid input icon">
              <input type="text" id="uidInput" placeholder="Please input your personnal UID" autocapitalize="none" autocorrect="off">
            </div>
          </div>
          <div class="ui error icon message">
            <i class="remove icon"></i>
            <div class="content">
              <div class="header">
                UID is a required field.
              </div>
            </div>
          </div>
        </div>
        <input type="submit" class="ui fluid large primary button" value="Sign In">
      </form>
      <!-- <div class="ui divider"></div>
      <p>
        <a href="/iforgot">Forgot your password?</a>
      </p> -->
    </div>
  </div>
</template>
